
<% include partials/header.ejs %>
<div class="container">
    <header class="jumbotron text-center">
        <h1>Welcome to Your Reddit-lite Dashboard </h1>
        <h4>The mini-front page of your  <strong> online Universe</strong></h4>
        <a href="/timeline/new" class="btn btn-lg btn-primary">Post to the Timeline</a>
    </header>
</div>



<% include partials/footer.ejs %>